<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{navbar/header}">

</head>

<body>

<div>
    <nav th:replace="~{navbar/navbar}"></nav>
</div>


<div class="container-fluid">
    <h5 class="text-center text-red mt-5 ">
        Ops,the thingy that you are looking for is no longer here !
    </h5>
    <img th:src="@{/images/broken-car.png}" alt="Broken car">
    <a th:href="@{/}">Go home...</a>
    <br/>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
